{
  "root": true,
  "extends": [
    "canonical"
  ],
  "globals": {
    "require": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "afterEach": "readonly",
    "beforeEach": "readonly",
    "queueMicrotask": "readonly",
    "setTimeout": "readonly"
  },
  "rules": {
    "@babel/no-invalid-this": 0,
    "@babel/object-curly-spacing": ["error", "always"],
    "arrow-body-style": 0,
    "canonical/destructuring-property-newline": 0,
    "canonical/id-match": 0,
    "complexity": 25,
    "comma-dangle": ["error", "never"],
    "no-constructor-return": 0,
    "array-bracket-newline": 0,
    "array-element-newline": 0,
    "linebreak-style": 0,
    "import/extensions": 0,
    "jsdoc/check-types": 0,
    "jsdoc/check-tag-names": 0,
    "jsdoc/valid-types": 0,
    "func-style": 0,
    "unicorn/prefer-node-remove": 0,
    "unicorn/prefer-node-append": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/no-array-for-each": 0,
    "promise/prefer-await-to-then": 0,
    "prefer-object-spread": 0,
    "object-curly-newline": ["error", { "multiline": true }],
    "object-property-newline": 0
  }
}
